ul.niwoostock_pagination {
    text-align:center;
    color:#829994;
}
ul.niwoostock_pagination li {
    display:inline;
    padding:0 3px;
}
ul.niwoostock_pagination a {
    color:#0277BD;
    display:inline-block;
    padding:5px 10px;
    border:1px solid #0277BD;
    text-decoration:none;
}
ul.niwoostock_pagination a:hover, 
ul.niwoostock_pagination a.current {
     background: linear-gradient(to bottom, #0288D1, #0277BD);
    color:#fff; 
}
ul.niwoostock_pagination span.current {
      background: linear-gradient(to bottom,  #0288D1, #0277BD);
    color:#fff; 
}
ul.niwoostock_pagination span {
    color:#0277BD;
    display:inline-block;
    padding:5px 10px;
    border:1px solid #0277BD;
    text-decoration:none;
}

/* CSS Document */

